---
import Layout from '../layouts/Layout.astro';
import Blog from '../components/Blog.astro';
import { formatearFecha } from '../utils';

const respuesta = await fetch(`${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`)
const { data } = await respuesta.json()

---

<Layout title="Blog" description="Página de tienda de instrumentos músicales, guitarras, cursos, blog y más">
	<article class="contenedor">
		<h1 class="heading">Blog</h1>
		<div class="grid">
			{data?.map( blog => (
				<Blog 
					titulo={blog.attributes.titulo}
					contenido={blog.attributes.contenido}
					url={blog.attributes.url}
					publishedAt={formatearFecha(blog.attributes.publishedAt)}
					imagen={blog.attributes.imagen.data.attributes.formats.medium.url}
				/>
			))}
		</div>
	</article>
</Layout>

<style>

</style>